:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* header */

header {
  background-color: #ffffff;
}

.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-accent-head {
  color: var(--title-text-color);
}

.nav {
  list-style-type: none;
}

.nav-link {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-head {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-head:hover,
.contact-head:focus {
  color: var(--accent-color);
}

/* main */

.section-title {
  background-color: #2f303a;
}

.title-h1 {
  font-family: Roboto, sans-serif;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--title-text-color);
}

.section-advantage {
  background-color: #e5e5e5;
}

.title-advantage {
  display: none;
}

.ul-advantage {
  list-style-type: none;
}

.advantege-h3 {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantege {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-doing {
  background-color: #e5e5e5;
}

.title-doing {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.ul-doing {
  list-style-type: none;
}

.section-team {
  background-color: #f5f4fa;
}

.title-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.ul-team {
  list-style-type: none;
}

.h3-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.p-team {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* footer */

footer {
  background-color: #2f303a;
}

.logo-accent-footer {
  color: var(--primary-white-color);
}

.contact-list {
  list-style-type: none;
}

.address {
  font-family: Roboto, sans-serif;
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.contact-footer {
  font-family: Roboto, sans-serif;
  color: var(--contact-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

/* ul {
  list-style-type: none;
} */
